<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../assets/images/othelloIcon.ico">
    <title>Error</title>
</head>
<body>
<p style="font-size: 2rem; color: red; text-align: center">
    <strong>404: File not found</strong>
</p>
<p style="font-size: 2rem; color: black; text-align: center">
    <strong>Looks like you got lost (just like 2020) :(</strong>
</p>
<div class="container-fluid" style="text-align: center">
    <a href="/login" style="text-align: center; font-size: 1.5rem">Go back to the login screen</a>
</div>
</body>
</html>