<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <link rel="stylesheet" href="views/css/reviewGames.css">
    <title>Review Games</title>
</head>
<body>
    <% const game = games %>
    <div class="table-refresh" data-url="/review_games">
    </div>
    <script src="views/js/reviewGames.js"></script>
</body>
</html>