body {
    /*background-image: url('../images/Green_Background.jpg');*/
    background-color: #99cee8;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex-child {
    flex: 1;
    border: 1px solid black;
    width: 200px;
}

.flex-child-middle{
    margin: 30px;
}

/*.flex-child:first-child {
    margin-right: 20px;
}*/

table#game_board{
    margin: auto;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(100,100,100);
}

table#game_board td{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(50,50,50);
}

/*#messages p{
    margin: 0px;
}*/

td.hovered_over:hover{
    background: url('../images/hover(2).png');
    background-size: 100% 100%
}

/*X-Axis*/
table#x-axis{
    margin: auto;
    border-style: none;
    border-width: 1px;
    border-color: rgb(100,100,100);
}

table#x-axis td{
    padding-left: 22px;
    padding-right: 22px;
    border-style: none;
    border-width: 1px;
    border-color: rgb(50,50,50);
}

/*Y-Axis*/
table#y-axis{
    margin: auto;
    border-style: none;
    border-width: 1px;
    border-color: rgb(100,100,100);
}

table#y-axis td{
    padding-top: 35px;
    padding-bottom: 15px;
    border-style: none;
    border-width: 1px;
    border-color: rgb(50,50,50);
}

/*Y-Axis*/
table#z-axis{
    margin: auto;
    border-style: none;
    border-width: 1px;
    border-color: rgb(100,100,100);
}

table#z-axis td{
    padding-top: 26px;
    padding-bottom: 26px;
    border-style: none;
    border-width: 1px;
    border-color: rgb(50,50,50);
}